ul {
    list-style-type : none;
    overflow        : hidden;
    background-color: rgb(245,255,255);
    position        : fixed;
    top             : 0;
    z-index         : 1002;
    height          : 60px;
    width           : 100%;
    font-size       : 100%;
    right           : 0;
    margin          : 0;
    padding         : 0;
}

li {
    float    : right;
    position : relative;
    top      : 75%;
    transform: translateY(-75%) scale(1, 0.9);
}

li.selected {}

li a {
    display            : block;
    color              : rgb(20,20,20);
    text-align         : top;
    padding            : 14px 16px;
    text-decoration    : none;
    font-size          : .75em;
    font-family        : "Josefin Sans";
    font-weight        : bold;
    text-transform     : uppercase;
    cursor             : pointer;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color       : rgba(0,0,0,0);
    margin-bottom      : -4px;
    transition         : all .5s ease;
}
/* Change the link color to #111 (black) on hover */

li a:hover {
    color       : rgb(150,150,150);
    border-color: rgba(0,0,0,1);
}