.section {
    height       : 100vh;
    width        : 100%;
    position     : relative;
    color        : red;
    justify-items: center;
}

.section .section-image,
.section .section-image-blend {
    height    : 100%;
    width     : 100%;
    object-fit: cover;
    position  : absolute;
    z-index   : -1000;
}

.section .section-image-blend {
    background-color: #00000066;
    z-index         : -999;
}

.section .container {
    font-size: 0;
    position : absolute;
    width    : 100%;
    height   : 100vh;
}

.section .container .containerHalf {
    font-size : 1rem;
    display   : float;
    text-align: center;
}

.containerHalf .containerContent {
    position  : relative;
    top       : 50%;
    transform : translateY(-50%);
    width     : min-content;
    margin    : auto;
    min-width : 10px;
    min-height: 10px;
}
/*height larger than width*/
@media (min-height: 100vw) {
    .section .container .containerHalf {
        width : 100%;
        height: 50%;
    }

    .containerHalf#rightOrLowerContainer {
        float: bottom;
    }

    .containerHalf#leftOrUpperContainer {
        float: top;
    }
}
/*width larger than height*/
@media (min-width: 100vh) {
    .section .container .containerHalf {
        width : 50%;
        height: 100%;
    }

    .containerHalf#rightOrLowerContainer {
        float: right;
    }

    .containerHalf#leftOrUpperContainer {
        float: left;
    }
}
